*
{
font-size:38pt;
color:red;
background-color:silver;
}

p.klasa_nieuniwersalna_haratym
{ 
font-size:32pt; 
color:green;  
} 

.klasa_uniwersalna_haratym
{
font-size:30pt;
color:green;
}