h3 {  
        width: 350pt; 
height:2cm; 
padding    : 20px; 
        margin-left     : 800px; 
        border     : 10px ridge fuchsia; 
        background : rgb(255,255,224); 
        font-size: 10px;
} 